<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema</title>
        <link rel="stylesheet" href="main.css">
        <script src="main.js"></script>
    
        
    </head>
    <body>
        <div id="calendar"></div>
   </body>

   <script>

       var element = document.getElementById("calendar");
       var calendar = new FullCalendar.Calendar(element,{
           height: 6000,           
           width: 8000,
           Boolean, default: false,
           row: 90000,
           fontSize: 20,
           initialView: 'listWeek', //utilizar esse porque tem a melhor visualização no celular.
           //initialView: 'timeGridWeek',
           //initialView: 'dayGridWeek',           
           //initialView: 'dayGridMonth',//a primeira que usei calendario padrão
           locale: 'pt-br',
           events: 'getcalendar',
           eventClick: function(info){
           window.location.href = '/event/'+info.event.id;
                   
           }
   });
   
       calendar.render();

   </script>
</html>